@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html, html * {
  transition: color 1s, background-color 0.5s;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 255, 0.6);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 255, 0.9);
}

